.form{
    width: 50%;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 20px;
}

.form h1{
    text-align: center;
    margin-bottom: 20px;
}

.form input {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border:1px solid rgb(42, 92, 156);
    padding: 10px;
}
.form input:focus{
    outline: none;
}